.profile-nav-link {
    text-decoration: none;
    color: black;
}

.profile-nav-container {
    text-decoration: none;
    color: black;
    background-color: #e3e5e8;
    border: 2px solid gray;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    margin-left: 3%;
    margin-top: 5%;
}

.profile-nav-container:hover {
    background-color: white;
    border: 2px solid #ff887a;
    transition: 1s;
}

.profile-nav-container:not(:hover){
    transition: 1s;
}

.change-pass-nav{
    color:black;
    margin-top: 8px;
    text-decoration: none;
}

.change-pass-nav:hover{
    transition: 1s;
    color: #ff887a;
}

.change-pass-nav:not(:hover){
    transition: 1s;
}

.header-nav-link {
    text-decoration: none;
    color: white;
    font-weight:500;
}

.header-player-link {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: 500;
}

.header-player-link:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-player-link:focus {
    color:white;
    font-weight: 500;
}

.main-player-link {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: 500;
}

.main-player-link:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.main-player-link:focus {
    color:white;
    font-weight: 500;
}