.profile-nav-link {
    text-decoration: none;
    color: black;
}

.profile-nav-container {
    text-decoration: none;
    color: black;
    background-color: #e3e5e8;
    border: 2px solid gray;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    margin-left: 3%;
    margin-top: 5%;
}

.profile-nav-container:hover {
    background-color: white;
    border: 2px solid #ff887a;
    transition: 1s;
}

.profile-nav-container:not(:hover) {
    transition: 1s;
}

.change-pass-nav {
    color: black;
    margin-top: 8px;
    text-decoration: none;
}

.change-pass-nav:hover {
    transition: 1s;
    color: #ff887a;
}

.change-pass-nav:not(:hover) {
    transition: 1s;
}

.header-nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-player-link {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: 500;
}

.header-player-link:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-player-link:focus {
    color: white;
    font-weight: 500;
}

.main-player-link {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: 500;
}

.main-player-link:hover {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.main-player-link:focus {
    color: white;
    font-weight: 500;
}

.img__library {
    border-radius: 25px;
}

.main-nav-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
    border-bottom: 2px solid white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.squared-nav-link {
    text-decoration: none;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.squared-nav-link img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.btn-grad {
    background-image: linear-gradient( 135deg, #92FFC0 10%, #002661 100%);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: block;
    margin-bottom: 8px;
}


.squared-nav-link-200 {
    text-decoration: none;
}

.squared-nav-link-200 img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.circle-nav-link {
    text-decoration: none;
}

.circle-nav-link > div {
    background-color: #363636;
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
    justify-content: center;
    border-radius: 10px;
    width: 170px;
    height: 210px;
}

.circle-nav-link > div > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 1em;
}

.circle-nav-link > div > p {
    color: white;
    font-size: 15px;
    margin-bottom: -0.02px;
}

.circle-nav-link > div > span {
    color: #d1cfcf;
    font-size: 12px;
}

.modal {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 17%;
    position: absolute;
    top: 350px;
    left: 800px;
    bottom: 400px;
    border-radius: 10px;
    outline: none;
    padding-top: 20px;
    opacity: 1;
}

.modal div {
    position: relative;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.modal div span {
    font-size: 20px;
}

.modal div input {
    width: 90%;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-bottom: 1px solid white;
    font-family: 'Poppins', sans-serif;
    outline: none;
    color: white;
}

.modal div div{
    margin-top: 30px;
    display: flex;
}

.modal div div button:nth-child(1) {
    grid-row: 3;
    background-color: #1a1a1a;
    border: #1a1a1a;
    color: white;
    outline: none;
    flex: 2.5;
    margin-left: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.modal div div button:nth-child(2) {
    grid-row: 3;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    color: black;
    outline: none;
    flex: 1;
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.overlay {
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.playlist-modal {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-height: 270px;
    width: 17%;
    position: relative;
    top: 325px;
    left: 1580px;
    bottom: 400px;
    border-radius: 10px;
    outline: none;
    padding-top: 20px;
    opacity: 1;
}

.playlist-modal div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.playlist-modal div div {
    overflow-y: scroll;
    max-height: 200px;
    border-radius: 10px;
}

.playlist-modal div h3 {
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.playlist-modal div div button {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 10px;
    text-align: left;
    outline: none;
}

.playlist-modal div div > p {
    margin-left: 10px;
}

.playlist-modal div div button:hover {
    background-color: #212121;
    border: 1px solid #212121;
    padding: 20px 10px;
}

.playlist-modal div div::-webkit-scrollbar{
	width: 0px;
}


.song-modal {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-height: 270px;
    width: 17%;
    position: relative;
    top: 170px;
    left: 1580px;
    bottom: 400px;
    border-radius: 10px;
    outline: none;
    padding-top: 20px;
    opacity: 1;
}

.song-modal div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.song-modal div div {
    overflow-y: scroll;
    max-height: 200px;
    border-radius: 10px;
}

.song-modal div h3 {
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.song-modal div div button {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 10px;
    text-align: left;
    outline: none;
}

.song-modal div div > p {
    margin-left: 10px;
}

.song-modal div div button:hover {
    background-color: #212121;
    border: 1px solid #212121;
    padding: 20px 10px;
}

.song-modal div div::-webkit-scrollbar{
	width: 0px;
}


.search-modal {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 17%;
    position: absolute;
    top: 252px;
    left: 1500px;
    bottom: 465px;
    border-radius: 10px;
    outline: none;
    padding-top: 20px;
    opacity: 1;
}

.search-modal div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.search-modal div div {
    overflow-y: scroll;
    max-height: 200px;
    border-radius: 10px;
}

.search-modal div h3 {
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.search-modal div div button {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    padding: 20px 10px;
    text-align: left;
    outline: none;
}

.search-modal div div > p {
    margin-left: 10px;
}

.search-modal div div button:hover {
    background-color: #212121;
    border: 1px solid #212121;
    padding: 20px 10px;
}

.search-modal div div::-webkit-scrollbar{
	width: 0px;
}

.search-wavy-text{
    background: rgb(255,185,185);
    background: linear-gradient(90deg, rgba(255,185,185,1) 0%, rgba(255,153,153,1) 32%, rgba(255,110,110,1) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-nav {
    outline: none;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.admin-nav:hover {
    transform: scale(1.1);
    transition: transform .1s linear;
}

.admin-nav:not(:hover) {
    transform: scale(1);
    transition: transform .1s linear;
}

.admin-nav.active { 
    color: white;
}

