/* Spinner Slices */

$spCol: #fff;

.sp {
	clear: both;
}

.sp.sp-slices {
	border-radius: 50%;
	border-top: 30px rgba($spCol,0.75) solid;
	border-left: 30px rgba($spCol,0.25) solid;
	border-bottom: 30px rgba($spCol,0.25) solid;
	border-right: 30px rgba($spCol,0.25) solid;
	-webkit-animation: spSlices 1s infinite linear;
	animation: spSlices 1s infinite linear;
}

@-webkit-keyframes spSlices {
	0% {
		border-top: 30px rgba($spCol,0.75) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	25% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.75) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	50% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.75) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	75% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.75) solid;
	}
	100% {
		border-top: 30px rgba($spCol,0.75) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
}

@keyframes spSlices {
	0% {
		border-top: 30px rgba($spCol,0.75) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	25% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.75) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	50% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.75) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
	75% {
		border-top: 30px rgba($spCol,0.25) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.75) solid;
	}
	100% {
		border-top: 30px rgba($spCol,0.75) solid;
		border-right: 30px rgba($spCol,0.25) solid;
		border-bottom: 30px rgba($spCol,0.25) solid;
		border-left: 30px rgba($spCol,0.25) solid;
	}
}